/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

//@include font-face("Arial", "../fonts/Arial/Arial", normal, eot ttf woff woff2);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

body {
  font-family: sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
}

/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: $Fira;
  font-weight: 500;
}


.mainWrapper{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
    color: #000;
  }
}
p{
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0 !important;
  list-style-type: none;
}

button{
  outline:none;
  border:none;
  padding: 0;
  margin: 0;
}


/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
